

<div class="jumbotron">
  <h1 class="display-4">Result</h1>
  <p class="lead">Score : <%= @total_score %></p>
  <hr class="my-4">
  <p><p><%= @result %></p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button"<%= link_to "Play again", new_path %></a>
</div>
